@use 'sass:color';
@import "src/scss/variables";
@import "src/scss/mixins";

.root {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  margin-top: 8px;
  text-align: center;
}

.button {
  margin: 0;
}
.button,
.arrowIcon,
.frequency,
.amounts {
  font-size: 20px;
  @include bp(375px) {
    font-size: 24px;
  }
  @include bp($m) {
    font-size: 28px;
  }
}
.arrowIcon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.heading {
  color: #fff;
  padding: 16px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  background-color: $purple;
  @include bpmax(960px) {
    font-size: 24px;
  }
}

.content {
  border: 1px solid $purple;
  padding: 16px 32px;
  @include bpmax($s) {
    padding: 16px;
  }
}

.form {
  margin: 0 auto;
  display: grid;
  grid-gap: 16px;
  font-size: 1rem;
  line-height: 1.5;
  grid-template: auto / 1fr;
  justify-items: center;
}

.toThePublic {
  @include bpmax(960px) {
    display: none;
  }
}

.match {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.matchCopy {
  flex-grow: 1;
  padding: 0 8px;
  text-align: center;
  font-style: oblique;
}

.inputTextSize,
.inputTextSize:global(.MuiInputBase-root) {
  font-size: 24px;
  @include bpmax(960px) {
    font-size: 20px;
  }
}

.amounts {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3,minmax(0,1fr));
  width: 100%;
  height: auto;
  font-weight: 600;
  cursor: pointer;
  & > *[role=radio] {
    height: 3.5rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $purple;
    color: $purple;
    border-radius: 4px;
    &[aria-checked=true] {
      background-color: $purple;
      color: #fff;
    }
    @media (hover: hover) {
      &:hover[aria-checked=false] {
        background-color: color.scale($purple, $lightness: 80%);
      }
    }
  }
}

.frequency {
  display: flex;
  width: 100%;
  height: auto;
  font-weight: 700;
  cursor: pointer;
  height: 3.5rem;
  & > *[role=radio] {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $purple;
    color: $purple;
    &[aria-checked=true] {
      background-color: $purple;
      color: #fff;
    }
    @media (hover: hover) {
      &:hover[aria-checked=false] {
        background-color: color.scale($purple, $lightness: 80%);
      }
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
