@import "src/scss/variables";
@import "src/scss/mixins";

.root {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  margin-top: 8px;
  text-align: center;
}

.button {
  margin: 0;
}
.button,
.arrowIcon {
  font-size: 20px;
  @include bp(375px) {
    font-size: 24px;
  }
  @include bp($m) {
    font-size: 28px;
  }
}
.arrowIcon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.heading {
  color: #fff;
  padding: 16px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  background-color: $purple;
  @include bpmax(960px) {
    font-size: 24px;
  }
}

.content {
  border: 1px solid $purple;
  padding: 16px;
}

.form {
  margin: 0 auto;
  display: grid;
  grid-gap: 16px;
  font-size: 1rem;
  max-width: 550px;
  line-height: 1.5;
  grid-template: auto / 1fr;
  justify-items: center;
}

.toThePublic {
  @include bpmax(960px) {
    display: none;
  }
}
