.pxblock {
  padding: 56px 0;

  &.padding {
    // global clone padding options //
    &--none {
      padding: 0;
    }
    &--small {
      padding: 56px 0;

      @include bp($s) {
        padding: 64px 0;
      }
    }
    &--medium {
      padding: 80px 0;
    }
    &--large {
      padding: 104px 0;
    }
    &--extra-large {
      padding: 56px 0;

      @include bp($s) {
        padding: 80px 0;
      }

      @include bp($l) {
        padding: 136px 0;
      }
    }
  }
}
