$xl: 1920px;
$l: 1440px;
$m: 1024px;
$s: 768px;
$xs: 411px;

$speed: 200ms;
$easing: ease-in-out;

$white: #fff;
$black: #000;
$grey-900: #131313;
$grey-800: #252529;
$grey-600: #5d5d66;
$grey-400: #94949b;
$grey-200: #d7d7d9;
$grey-100: #e0e0e2;
$grey-50: #f3f3f5;
$orange: #f77d2b;
$orange-d: #d25908;
$orange-l: #faae7a;
$purple: #4949b4;
$purple-d: #373787;
$purple-l: #8d8dd1;
$teal: #49f2d2;
$error-red: #cc4425;
$warning-yellow: #ffc400;
$success-green: #69b05d;

$light-gray: $grey-200;
